body {
  color: #333;
  // font-family: "Roboto", sans-serif;
  // overflow-x: hidden;
  // position: relative;
}

img {
  // max-width: 100%;
  // height: auto;
}

a {
  // color: $mainBlue;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
  font-size: 18px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

blockquote {
  // margin: 20px 20px 20px 0;
  // padding-left: 30px;
  // border-left: 2px solid $orange-500;
  // p {
  //   font-size: 22px;
  // }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4,
  h5,
  h6 {
    font-size: 20px;
  }
}